.dashboard_container {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard_header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px; /* top/bottom space for mobile */
}

.dashboard_header .press_font {
  font-family: "Press Start 2P", cursive;
  line-height: 1.8;
  color: white;
  word-break: break-word;
}

.description {
  width: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
}
.description_another {
  width: 100%;
  display: flex;
  justify-content: center;
}

.description_item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main_bingo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_bingo img {
  width: 55%;
}
.dashboard_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
}

.button_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 80px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.button_item .button_border {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* The text */
.button_item .button_press_font {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: white;
  z-index: 2;
  pointer-events: none;
  text-align: center;
}

/* Hover overlay */
.button_item::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background: white;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.button_item:hover::after {
  opacity: 0.3;
}

.press_font {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  color: white;
}

.social_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.social_buttons img {
  cursor: pointer;
  transition: 0.3s ease-in;
}

.social_buttons img:hover {
  opacity: 0.5;
}
.social_buttons img:active {
  opacity: 0.8;
}
.no_description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 780px) {
  .dashboard_container {
    justify-content: space-around;
  }
  .press_font {
    font-size: 24px !important;
  }
  .description {
    gap: 10%;
  }
  .description_item {
    gap: 20px;
  }
  .description_item img {
    width: 10px;
    height: 9px;
  }
  .description_item .press_font {
    font-size: 15px !important;
  }
  .main_bingo img {
    padding-top: 5%;
    width: 77%;
  }
  .dashboard_buttons {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .button_press_font {
    font-size: 12px !important;
  }
  .button_item .button_border {
    position: absolute;
    width: 70%;
    height: 70%;
    z-index: 0;
  }
  .button_item::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 65%;
    background: white;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
  }
  .social_buttons {
    gap: 30px;
  }
  .social_buttons img {
    cursor: pointer;
    width: 50px !important;
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  .press_font {
    font-size: 20px !important;
  }
  .description_item {
    gap: 10px;
  }
}

@media screen and (max-width: 370px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .description_item {
    gap: 15px;
  }
}
